@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
  .glass-hover {
    @apply hover:bg-white/10 transition-all duration-300;
  }
}
